<% rank = 1 %>
<table>
<% @photos.zip(@votes).in_groups_of(10).each do |group| %>
<tr>
<td>
<%= image_tag @query.photo.url%>
</td>
<% group.compact.each do |p,v| %>
<td>
<%= rank %>
<% rank += 1%>
(<%= v %>)
<%= p.photoable_type %>
<br>
<%= image_tag p.url %>
</td>
<% end %>
</tr>
<% end %>
</table>
