
<td id="ask_left"  valign=top>

	<h2>2. Enter your question</h2>

	<p>
	<center>
	<div id="query_photo"></div>			
		
	<p>
	<div id="selected_photo"></div>

</td>

<td id="ask_right" valign=top>
			
	<div id="ask_form" class='formfields'></div>
			
	<div id="suggested_categories"></div>	

	<div id="automatic_answer"></div>	

</td>